html,
body {
  font-size: 100%;
}
body {
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}
#nomsTable td, th {
  text-align: center;
  vertical-align: middle;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 70em;
  *zoom: 1;
}
.nav {
  border: 0px solid black;
  min-width: 200px;
  width: 0%;
}
.nav li a {
  display: block;
  color: #2ba6cb;
}
.nav li.active>a:first-child {
  color: #4d4d4d;
  font-weight: bold;
}
.nav li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.nav a {
  color: #afb6bf;
  font-weight: bold;
}
.nav a:hover {
  color: #28bfa4;
}
.nav .active a {
  color: #545862;
}
.container {
  position: relative;
  width: 100%;
  max-width: 50em;
  min-width: 25em;
  border: 0px solid black;
  padding: 10px 15px 10px 15px;
}
.btn-group {
  min-width: 5em;
}
.page-header {
  padding: 0px;
  margin-top: 20px;
}
.weightItem {
  padding: 5px;
}
#insertWeightHere {
  margin-top: 10px;
}